{% extends "gats_layout.html" %}


{% block other_stylesheets  %}
<link href="{{ url_for('static', filename='edit.css') }}"
      type="text/css" rel="stylesheet" />

<link href="{{ url_for('static', filename='lightbox/css/lightbox.css') }}"
	  rel="stylesheet" />
	  
<link href="{{ url_for('static', filename='aloha/css/aloha.css') }}"
	  type="text/css" rel="stylesheet" />
    

{% endblock other_stylesheets  %}


{% block other_javascript %}

<script type="text/javascript"
	src="{{ url_for('static', filename='edit_config.js') }}">
</script>

<script type="text/javascript" 
	src="{{ url_for('static', filename='aloha/lib/aloha.js')  }}"
	data-aloha-plugins="common/format"></script>


<script type="text/javascript"
	src="{{ url_for('static', filename='SWFUpload/swfupload.js') }}">
</script>

<script type="text/javascript"
	src="{{ url_for('static', filename='date.js') }}"> </script>

<script type="text/javascript"
	src="{{ url_for('static', filename='edit.js') }}"> </script>

{% block page_specific_javascript %}

{% endblock page_specific_javascript %}

{% endblock other_javascript %}

{% block header %}
<div id="account">
  Hello {{ name }}
  <form action="{{ url_for('logout') }}">
    <input class="button" type="submit" value="Logout">
  </form>
</div>
{% endblock header %}

{% block menu %}

<div id="menu">
  <ul id="navigator"> 
    
    
    {% block news  %}
    <li class="tab" id="news"> 
      <a id="news" class="tab" 
	 href="{{ url_for('edit_news')  }}">NEWS</a></li>
    {% endblock  %}
    
    {% block photos %}
    <li class="tab" id="photos"> <a id="photos" class="tab" 
		       href="{{ url_for('edit_photos') }}">PHOTOS</a></li>
    {% endblock %}
    
    {% block video %}
    <li class="tab" id="video"> <a id="video" class="tab" 
		       href="{{ url_for('edit') }}">VIDEOS</a></li>
    {% endblock %}

    {% block shows %}
    <li class="tab" id="shows"> 
      <a id="shows" class="tab" 
	 href="{{ url_for('edit_shows') }}"> SHOWS</a></li>
    {% endblock shows %}



    {% block band  %}
    <li class="tab" id="band"> <a id="band" class="tab" 
		      href="{{ url_for('edit')  }}">THE BAND</a></li>
    {% endblock %}


    {% block contact %}
    <li class="tab" id="contact"> <a id="contact" class="tab" 
		      href="{{ url_for('edit') }}"> CONTACT</a></li>
    {% endblock %}


    
  </ul>
</div>
{% endblock %}

{% block content  %}


{% endblock content  %}

{% block sidebar %}

{% endblock sidebar %}
