

body#gats {
    background-color:black;
    background-image: url("../static/images/show_bg_a.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    color:white;
    font-family:'Courier 10 Pitch','Courier','Courier New';
    font-size: 22px;
}

#content-background {
    background-color:black;
    width:612px;
    height:700px;
    position:relative;
    float:left;
    left:388px;
    top:-42px;
    opacity:0.8;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

img.thumbnail {

    background-color:black;
    padding: 5px;
    border-radius:5px;
    
}


#menu-background {
    margin-left:auto;
    margin-right:auto;
    position:relative;
    top:8px;
    left:87px;
    width:611px;
    height:50px;
    background-color:white;
    opacity:0.3;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

a.tab_active {
    color:white;
    text-decoration:none;
    text-align:center;
    background-color:black;
    opacity:0.8;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    display:block;
    padding:12px;
}

a.tab {
    color:black;
    text-decoration:none;
    text-align:center;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    display:block;
    padding:12px;
    -webkit-transition: background-color 0.1s linear;
}

a.tab:hover {
    background-color:black; //#008000;
    color:white;
    opacity:0.8;
    -webkit-transition: background-color 0.1s linear;
}
