
#container {
    margin-left:auto;
    margin-right:auto;
    width:1210px;
    height:780px;
    position:relative;
    float:right;
    //left:20px;
}

#content {
    float:left;
    width:600px;
    height:650px;
    position:relative;
    top:-41px;
    left:-215px;
    overflow:auto;
    font-size:18px;
    color:white;

}


#photo_gallery {
    margin-left:auto;
    margin-right:auto;
    position:relative;
    top:60px;
    width:550px;
    min-height:100px;
}

a.gats_images {
    position:relative;
    //float:left;
    text-decoration:none;
    padding:5px;
}

#add_photo {
    position:relative;
    top:30px;
    left:-100px;
    width:80px;
    height:36px;
    float:right;
    //border-radius:5px;   
}

button.delete_photo {
    position:relative;
    top:-32px;
    left:118px;
    z-index:50;
}

.gats_photo {
    opacity:0.9;
    width:175px;
    display:inline-table;
}

.gats_photo:hover {
    
    opacity:1;

}



#add_to_photos_tab {
    width:100px;
}

#photo_tab_thumbnail {
    position:absolute;
    right:280px;
    top:20px;
    width:150px;
    height:100px;

}


#filename-text {

    border-radius:5px;
    border:0px;
    background:none;
    color:black;
    font-family:"Courier 10 Pitch";
    font-weight:bold;
}

#upload-progressbar-container {
    border-radius:3px;
    width:150px;
}

#upload-progressbar {
    border-radius:3px;
    background-color:red;
    opacity:0.6;
    height: 10px;
    width:0%;
}

#upload_feedback {
    width:100px;
    position:relative;
    float:left;
    right:-280px;
    top:30px;
}


button.post {
    color:black;
    background-color:green;
    opacity:0.8;
    border-radius:5px;
    position:relative;
    width:80px;
    height:40px;
    float:right;
    right:-60px;
    top:35px;
    bottom:30px;
    font-family:"Courier 10 Pitch","Courier","Courier New";
    font-size:20px;
    font-weight:bold;
}

button.post:hover {
    background-color:#19A319;
}

button.delete {

    background-color:red;
    opacity:0.8;
    border-radius:5px;
    float:right;
    font-family:'Courier 10 Pitch','Courier New','Courier';
    font-weight:bold;
}

button.delete:hover {
    background-color:#CC0000;
}


#edit_news_post {
    margin-left:auto;
    margin-right:auto;
    border:1px solid #333333;
    padding-left:7px;
    padding-right:7px;
    width:550px;
    min-height:50px;
    border-radius:15px;
    position:relative;
    top:20px;
}

#posted_content {
    position:relative;
    top:100px;
}

.news_post {
    position:relative;
    float:left;
    margin-left:auto;
    margin-right:auto;
    padding-left:7px;
    padding-right:7px;
    width:550px;
    top:50px;
    padding-bottom:10px;
}

#account {
    float:right;
}

#login {
    margin-left:auto;
    margin-right:auto;
    color:white;
    font-size:40px;
}

input.button {

    color:black;
    background-color:green;
    opacity:0.8;
    border-radius:5px;
    position:relative;
    width:160px;
    height:60px;
    font-size:35px;
    font-family:'Courier 10 Pitch','Courier New','Courier';
    font-weight:bold;
}

input.button:hover {

    background-color:#19A319;    
}

input.field {
    background-color:black;
    color:green;
    border-radius:5px;
    width:180px;
    height:40px;
    opacity:0.8;
    font-weight:bold;
    font-size:20px;
}

#menu {
    margin-left:auto;
    margin-right:auto;
    width:608px;
    position:relative;
    top:-42px;
    left:85px;
    font-weight:bold;
}

#header {
    border-radius:15px;
    margin-left:auto;
    margin-right:auto;
    font-weight:bold;
    height:135px;
    background-image: url("../static/images/gats_logo-new.png");
    background-repeat: no-repeat;   
}


li.tab {
    float:left;
}

ul#navigator {
    list-style-type:none;
    margin:0;
    padding:0;
    height:42px;
    width:700px;
}

#bandcamp {
    position:absolute;
    right:20px;
}

