{% extends "gats_menu.html" %}


{% block news %}
<li class="tab" id="news"> 
  <a id="news" class="tab_active"
     href="{{ url_for('gats_news')  }}">
    NEWS</a></li>
{% endblock %}



{% block content %}
<div id="content">
  {% for post in posts %}
  <div class="news_post">
      <div class="news_title">
	{{ post.title  }}
      </div>
    {% if post.filename != "" %}
    <img class="post_image" src="{{ post.filename }}" alt="">
    {% endif  %}
	
    <div class="post_text">
      {{ post.html_text|safe }}
    </div>
    <span class="post_date">
      Posted: {{ post.date }} by {{ post.author }}
    </span>
    <hr>
  </div>
{% endfor  %}
</div>
{% endblock  %}


