{% extends "gats_layout.html" %}

{% block javascript  %}
<script type="text/javascript"
	src="{{ url_for('static', filename='gats2.js')  }}">
</script>
{% endblock javascript %}



{% block menu %}

<div id="menu">
  <ul id="navigator"> 
    
    
    {% block news  %}
    <li class="tab" id="news"> 
      <a id="news" class="tab" 
	 href="{{ url_for('gats_news')  }}">NEWS</a></li>
    {% endblock  news %}

    {% block photos %}
    <li class="tab" id="photos"> 
      <a id="photos" class="tab" 
	 href="{{ url_for('gats_photos') }}">PHOTOS</a></li>
    {% endblock photos %}

    {% block video %}
    <li class="tab" id="video"> 
      <a id="video" class="tab" 
	 href="{{ url_for('gats_videos') }}">VIDEOS</a></li>
    {% endblock video %}

    {% block shows %}
    <li class="tab" id="shows"> 
      <a id="shows" class="tab" 
	 href="{{ url_for('gats_shows') }}"> SHOWS</a></li>
    {% endblock shows %}


    {% block band  %}
    <li class="tab" id="band"> 
      <a id="band" class="tab" 
	 href="{{ url_for('gats_band')  }}">THE BAND</a></li>
    {% endblock band %}

    {% block contact %}
    <li class="tab" id="contact"> 
      <a id="contact" class="tab" 
	 href="{{ url_for('gats_news') }}"> CONTACT</a></li>
    {% endblock contact %}


    
  </ul>
</div>
{% endblock menu %}
