{% extends "gats_menu.html"  %}

{% block home  %}
<li class="tab" id="home"> 
  <a class="tab_active" id="home"  href="{{ url_for('link_root') }}">
    HOME</a></li>
{% endblock  %}

{% block content  %}
<div id="content">
  <div class="home_page">
    <div class="news_post">
      <div style="font-size:40px;
		  font-weight:bold;
		  background-color:black; 
		  padding:10px; border-radius:10px;"> 
	Gibbons and the Sluts is a Band
      </div>
      <p style="background-color:black; padding:10px; border-radius:10px;">
	Born from the Rubble of a thousand years of captivity
	Gibbons has summond the Sluts to bring a frenzy of noise.
	With horn and hammer they shall conquer the very ground.
	With Accordion and Drum and Bass they will sound farther 
	than the human ear can hear. With  Banjo you will kneel 
	before their might and feel their plight!
	<br />
	To the Great Jupiter you shall prey!
	<br />
	To the Clouds you shall sing
	<br />
	The world will hear the Sluts
	<br />
	And you will answer
      </p>


    </div>
  </div>
</div>

{% endblock content  %}


