{% extends "gats_menu.html" %}



{% block video %}
<li class="tab"> 
  <a class="tab_active" id="video" 
     href="{{ url_for('gats_videos') }}">
    VIDEOS</a></li>
{% endblock %}


{% block content %}
<div id="content">
  
  <div class="gats_videos">
    <div class="gats_video_set_title">
      At the Tribal Cafe
      <br />
      <br />
    </div>
    <iframe width="480" height="360" src="http://www.youtube.com/embed/xRDaCNaENVQ?rel=0" frameborder="0" allowfullscreen></iframe>

    <iframe width="480" height="360" src="http://www.youtube.com/embed/KHI2s2SJrSc?rel=0" frameborder="0" allowfullscreen></iframe>

    <iframe width="480" height="360" src="http://www.youtube.com/embed/oi5OWxY55c4?rel=0" frameborder="0" allowfullscreen></iframe>

    <iframe width="480" height="360" src="http://www.youtube.com/embed/mDTaexPQuOU?rel=0" frameborder="0" allowfullscreen></iframe>
    
  </div>
</div>



{% endblock  %}
