
{% extends "gats_menu.html"  %}

{% block body_style %}
<body id="gats" 
      style="
	     background-image:url('../static/images/tour_poster-crop.jpg');
	     background-size:cover">
  {% endblock  %}


  {% block shows %}
  <li class="tab"> 
    <a class="tab_active" id="shows" 
       href="{{ url_for('gats_shows') }}">
      
      SHOWS</a></li>
  {% endblock shows %}


  {% block content  %}
  <div id="content">
    <div class="tour_name">
      <p style="text-align:center; font-weight:bold; font-size:30px;">Reunion Tour</p>
    </div>
    <div id="show_list">
      {% for show in shows %}
      {% if shows.index(show)%2 == 0 %} 

      <div class="show_info" style="float:left">
      {% else %}
      <div class="show_info" style="float:right">
      
      {% endif %}

	  <span style="font-weight:bold">{{ show.verbose_date() }}</span>
	  <br />
	  {{ show.venue }}<br />
	  {{ show.city_state }}<br />
	  {{ show.extra_info|safe }}<br />
	  

	</div>
	{% endfor %}

	
      </div>



    </div>
    {% endblock  %}
