{% extends "gats_menu.html" %}


{% block photos %}
<li class="tab"> 
  <a class="tab_active" id="photos" 
     href="{{ url_for('gats_photos') }}">
    PHOTOS</a></li>
{% endblock %}



{% block content %}
<div id="content">

   <div id="photo_gallery">
    {% for photo in photos  %}
    <div class="gats_photo" id="{{ photo.photo_id }}">
      <a class="gats_images" 
	 href="{{ url_for('uploaded_file', filename=photo.filename) }}"
	 rel="lightbox[gats_gallery]">
	<img class="thumbnail" 
	     src="{{ url_for('thumbnails', filename=photo.filename) }}" />
      </a>
    </div>

    {% endfor %}
  </div>

</div>
{% endblock %}
